/*Colour Codes*/
	:root {
		--background: #1F2933;
		--mainText: #D9E2EC;
		--navbar: #3E4C59;
		--navbarHover: #36414d;
		--headingText: #9FB3C8;
	}

/*Title Heading */
	.title {
		color: var(--mainText);
		text-align: center;
		font-family: Georgia, Times New Roman,
          Times, serif;
	}

 
/*Main Body styling*/
	body {
		font-family: Georgia, Times New Roman, Times, serif;
		color: var(--mainText);
		background-color: var(--background) }
		
	h1{
		color : var(--mainText);
		font-family: Helvetica, Geneva, Arial,
			SunSans-Regular, sans-serif }
	
	h2, h3 {
		color : var(--headingText);
		font-family: Helvetica, Geneva, Arial,
			SunSans-Regular, sans-serif }
		
/*Top Navigation bar styling*/	
	ul.navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: var(--navbar);
		text-align:center;

	}

	ul.navbar li {	
		display:inline;
	}
	  
	ul.navbar a {
		display:inline-block;
		color: var(--mainText);
		text-align: center;
		padding: 0.9em 0.9em;
		text-decoration: none;
		text-decoration: none }
		
	ul.navbar a:hover {
		background-color: var(--navbarHover);
	}

/*Table Formatting*/
table {
  border-collapse: collapse;
  border: 2px solid #627D98;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: #486581;
}

td, th {
  border: 1px solid #58738e;
  padding: 10px 20px;
}

th {
  background-color: #BCCCDC;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #D9E2EC;
}

tr:nth-child(odd) td {
  background-color: #d4dde7;
}

caption {
  padding: 10px;
}

 a:link {
    color: #327ac7 }
 
 a:visited {
    color: #95adc7 }

}	
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
  